[Desktop Entry]
Version=1.0  
Exec=/path/to/NovaRemoteControlRooms/JustDoIt.sh TestBeam-3
Name=FarDet-1
Comment=Connect to VNC session TestBeam-3
Terminal=true  
Type=Application
Icon=/path/to/NovaRemoteControlRooms/graphics/nova.png
Comment[en_US]=
GenericName[en_US]=Connect to VNC session TestBeam-3
